<div class="panel panel-default">
<div class="panel-heading text-center"><h4><strong>Eventos</strong></h4></div>
<div class="panel-body form-inline">
	<input type="text" class="form-control" placeholder="Pesquisar">
	<%= link_to "Novo Evento", new_event_path, class: "btn btn-primary pull-right" %>
</div>
<table class="table table-bordered" >
	<thead>
		<tr>
			<th>Evento</th>
			<th>Avaliados</th>
			<th>Data de Criação</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
<% @user_events.each do |event| %>
<tr>
	<td><%= link_to event.event_name, event_path(event) %></td>
	<td><%= event.candidates.count %></td>
	<td><%= time_ago_in_words(event.created_at) %> ago</td>
	<td>
		<%= link_to "Avaliar Candidato", "", {"data-event"=>event.id, "data-toggle"=> "modal", "data-target"=> "#modal-import-cv", "style"=> "padding-left:6px"} %>
		<%= link_to "Visualizar Candidatos", event_path(event), style: "padding-left:6px" %>
		<% if logged_in? && (current_user == event.user|| current_user.admin?) %>
			
			<%= link_to "Deletar", event_path(event), method: :delete,
			data: { confirm: "Tem certeza que deseja deletar esse evento?"},
			style: "padding-left:6px" %>

		<% end %>
	</td>
</tr>
<% end %>
</tbody>
</table>