<%= render 'shared/errors', obj: @event %>
<div class='row'>
		<div class='col-xs-12'>
			<%= form_for(@event, :html => {class: "form-horizontal", role: "form"}) do |f| %>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :event_name %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :event_name, class: "form-control", placeholder: "nome do evento", autofocus: true %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_a1 %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_a1, class: "form-control", placeholder: "qualis a1", autofocus: true %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_a2 %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_a2, rows: 10, class: "form-control", placeholder: "qualis a2" %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_b1 %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_b1, rows: 10, class: "form-control", placeholder: "qualis b1" %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_b2 %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_b2, rows: 10, class: "form-control", placeholder: "qualis b2" %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_b3 %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_b3, rows: 10, class: "form-control", placeholder: "qualis b3" %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_b4 %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_b4, rows: 10, class: "form-control", placeholder: "qualis b4" %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_b5 %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_b5, rows: 10, class: "form-control", placeholder: "qualis b5" %>
					</div>
				</div>
				<div class="form-group">
					<div class="control-label col-sm-2">
						<%= f.label :article_qualis_c %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :article_qualis_c, rows: 10, class: "form-control", placeholder: "qualis c" %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<%= f.submit class: 'btn btn-primary btn-lg' %>
					</div>
				</div>
			<% end %>
	</div>
</div>

