<%=form_for(@candidate, :html=> {class: "form-inline", role: "form"}) do |f| %>
<div class="form-group">
   <%=f.label :nome, 'Nome do Candidato' %>
   <%=f.text_field :nome, class: "form-control", :value => @cv_handler.get_name, readonly: true %>
</div>
<div class="form-group">
   <%=f.label :total_geral, 'Total de pontos' %>
   <%=f.text_field :total_geral, class: "form-control", :value => @cv_handler.get_total, readonly: true %>
</div>
<div class="form-group">
   <%=f.submit "Adicionar Candidato", class: 'btn btn-primary' %>
</div>
<%= f.hidden_field :articles_total, :value => @cv_handler.get_articles_found_total_points %>
<%= f.hidden_field :livros_total, :value => @cv_handler.get_book_total_points %>
<%= f.hidden_field :capitulos_de_livros_total, :value => @cv_handler.get_book_cap_total_points %>
<%= f.hidden_field :resumos_em_anais_de_congresso_total, :value => 0 %>
<%= f.hidden_field :trabalhos_completos_em_anais_de_congresso_total, :value => 0%>
<%= f.hidden_field :projetos_de_pesquisa_total, :value => @cv_handler.get_project_total_points %>
<%= f.hidden_field :bancas_total, :value => @cv_handler.get_graduation_judgement_participation_points + @cv_handler.get_postgraduate_judgement_participation_points + @cv_handler.get_master_judgement_participation_points + @cv_handler.get_doctor_judgement_participation_points %>
<%= f.hidden_field :orientacoes_total, :value => @cv_handler.get_other_tutoring_points + @cv_handler.get_master_tutoring_points + @cv_handler.get_doctor_tutoring_points %>
<%= f.hidden_field :event_id, :value => @event.id, :id => "hidden_event_id" %>
<% end %>
<br>
<ul class="nav candidate-tabs nav-tabs">
   <li class="active"><a data-toggle="tab" href="#artigos">Artigos</a></li>
   <li><a data-toggle="tab" href="#livros_e_cap">Livros e Cap.</a></li>
   <li><a data-toggle="tab" href="#res_em_anais_de_cong">Res. em Anais de Cong</a></li>
   <li><a data-toggle="tab" href="#trab_completo_em_anais_de_cong">Trab. Completo em Anais de Cong</a></li>
   <li><a data-toggle="tab" href="#proj_de_pesquisa">Proj. de Pesquisa</a></li>
   <li><a data-toggle="tab" href="#bancas">Bancas</a></li>
   <li><a data-toggle="tab" href="#orientacoes">Orientações</a></li>
</ul>
<div class="tab-content">
   <div id="artigos" class="tab-pane fade in active">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Artigos Identificados</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Artigo</th>
                  <th>Periódico ou Revista</th>
                  <th>Categoria</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_articles_found.each do |article| %>
               <tr>
                  <td><%= article["DADOS_BASICOS_DO_ARTIGO"]["TITULO_DO_ARTIGO"] %></td>
                  <td><%= article["DETALHAMENTO_DO_ARTIGO"]["TITULO_DO_PERIODICO_OU_REVISTA"] %></td>
                  <td><%= article["qualis"] %></td>
                  <td><%= article["DADOS_BASICOS_DO_ARTIGO"]["ANO_DO_ARTIGO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_articles_found_total_points%></strong></div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Artigos Não Identificados</strong></h4></div>
            <button type="button" class="btn btn-primary btn-block article_load_suggestion" attr="">Carregar Sugestões</button>

             <table class="table table-bordered" >

            <thead>
               <tr>
                  <th>Título do Artigo</th>
                  <th>Periódico ou Revista</th>
                  <th>Ano</th>
                  <th>Categoria</th>
                  <th>Sugestões</th>
                  <th>Aceitar</th> 
                  <th>Pont. Manual</th>
                  <th>Confirmar</th>  
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_articles_not_found.each do |article| %>
               <tr>
                  <td><%= article["DADOS_BASICOS_DO_ARTIGO"]["TITULO_DO_ARTIGO"] %></td>
                  <td class="articles_dynamic_calculation"><%= article["DETALHAMENTO_DO_ARTIGO"]["TITULO_DO_PERIODICO_OU_REVISTA"] %></td>
                  <td align="center"><%= article["DADOS_BASICOS_DO_ARTIGO"]["ANO_DO_ARTIGO"] %></td>
                  <td align="center"></td>
                  <td> 
                       <select class="form-control select_qualis" id="sel1">
                         <option>Sugestão</option>
                       </select>
                  </td>
                  <td>
                     <button type="button" name = "#total_article_not_found_value" class="btn btn-primary btn-block article_no_found_total_points_suggestion" attr="">Aceitar</button>
                  </td>
                  <td align="center" >
                     <input type="text" class="form-control">
                  </td>
                  <td>
                     <button type="button"  name = "#total_article_not_found_value" class="btn btn-primary btn-block  manual_calculation" attr="">Confirmar</button>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total:<strong id="total_article_not_found_value">0</strong></strong></div>
      
      </div>
   </div>
   <div id="livros_e_cap" class="tab-pane fade in">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Livros</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Livro</th>
                  <th>Editora</th>
                  <th>Ano</th>
                  <th>ISBN</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_books.each do |book| %>
               <tr>
                  <td><%= book["DADOS_BASICOS_DO_LIVRO"]["TITULO_DO_LIVRO"] %></td>
                  <td><%= book["DETALHAMENTO_DO_LIVRO"]["NOME_DA_EDITORA"] %></td>
                  <td><%= book["DADOS_BASICOS_DO_LIVRO"]["ANO"] %></td>
                  <td><%= book["DETALHAMENTO_DO_LIVRO"]["ISBN"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_book_total_points %></strong></div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Capítulo de Livros</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Capítulo</th>
                  <th>Editora</th>
                  <th>Ano</th>
                  <th>ISBN</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_book_caps.each do |book_cap| %>
               <tr>
                  <td><%= book_cap["DADOS_BASICOS_DO_CAPITULO"]["TITULO_DO_CAPITULO_DO_LIVRO"] %></td>
                  <td><%= book_cap["DETALHAMENTO_DO_CAPITULO"]["NOME_DA_EDITORA"] %></td>
                  <td><%= book_cap["DADOS_BASICOS_DO_CAPITULO"]["ANO"] %></td>
                  <td><%= book_cap["DETALHAMENTO_DO_CAPITULO"]["ISBN"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_book_cap_total_points %></strong></div>
      </div>
   </div>
   <div id="bancas" class="tab-pane fade in">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Bancas Doutorado</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Nome Orientado</th>
                  <th>Instituição</th>
                  <th>Curso</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_doctor_judgement_participation.each do |judgement_participation| %>
               <tr>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_DOUTORADO"]["TITULO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_DOUTORADO"]["NOME_DO_CANDIDATO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_DOUTORADO"]["NOME_INSTITUICAO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_DOUTORADO"]["NOME_CURSO"] %></td>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_DOUTORADO"]["ANO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_doctor_judgement_participation_points %></strong></div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Bancas Mestrado</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Nome Orientado</th>
                  <th>Instituição</th>
                  <th>Curso</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_master_judgement_participation.each do |judgement_participation| %>
               <tr>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_MESTRADO"]["TITULO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_MESTRADO"]["NOME_DO_CANDIDATO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_MESTRADO"]["NOME_INSTITUICAO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_MESTRADO"]["NOME_CURSO"] %></td>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_MESTRADO"]["ANO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_master_judgement_participation_points %></strong></div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Bancas Especialização</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Nome Orientado</th>
                  <th>Instituição</th>
                  <th>Curso</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_postgraduate_judgement_participation.each do |judgement_participation| %>
               <tr>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_APERFEICOAMENTO_ESPECIALIZACAO"]["TITULO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_APERFEICOAMENTO_ESPECIALIZACAO"]["NOME_DO_CANDIDATO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_APERFEICOAMENTO_ESPECIALIZACAO"]["NOME_INSTITUICAO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_APERFEICOAMENTO_ESPECIALIZACAO"]["NOME_CURSO"] %></td>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_APERFEICOAMENTO_ESPECIALIZACAO"]["ANO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_postgraduate_judgement_participation_points %></strong></div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Bancas Graduação</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Nome Orientado</th>
                  <th>Instituição</th>
                  <th>Curso</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_graduation_judgement_participation.each do |judgement_participation| %>
               <tr>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_GRADUACAO"]["TITULO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_GRADUACAO"]["NOME_DO_CANDIDATO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_GRADUACAO"]["NOME_INSTITUICAO"] %></td>
                  <td><%= judgement_participation["DETALHAMENTO_DA_PARTICIPACAO_EM_BANCA_DE_GRADUACAO"]["NOME_CURSO"] %></td>
                  <td><%= judgement_participation["DADOS_BASICOS_DA_PARTICIPACAO_EM_BANCA_DE_GRADUACAO"]["ANO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_graduation_judgement_participation_points %></strong></div>
      </div>
   </div>
   <div id="proj_de_pesquisa" class="tab-pane fade in">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Projetos de Pesquisa</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Nome Projeto</th>
                  <th>Ano Início</th>
                  <th>Ano Fim</th>
                  <th>Situação</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_projects.each do |project| %>
               <tr>
                  <td><%= project["NOME_DO_PROJETO"] %></td>
                  <td><%= project["ANO_INICIO"] %></td>
                  <td><%= project["ANO_FIM"] %></td>
                  <td><%= project["SITUACAO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_project_total_points %></strong></div>
      </div>
   </div>
   <div id="res_em_anais_de_cong" class="tab-pane fade in">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Resumo em Anais de Congresso (Identificados)</strong></h4>
         </div>
   <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Título dos anais de congresso</th>
                  <th>Categoria</th>
                  <th>País</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_summarized_work_in_congress_found.each do |summarized_work| %>
               <tr>
                  <td><%= summarized_work['DADOS_BASICOS_DO_TRABALHO']["TITULO_DO_TRABALHO"] %></td>
                  <td><%= summarized_work['DETALHAMENTO_DO_TRABALHO']["TITULO_DOS_ANAIS_OU_PROCEEDINGS"] %></td>
                  <th></th>
                  <td><%= summarized_work['DADOS_BASICOS_DO_TRABALHO']["ANO_DO_TRABALHO"] %></td>
                  <td><%= summarized_work['DADOS_BASICOS_DO_TRABALHO']["PAIS_DO_EVENTO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_summarized_work_in_congress_total_points %></strong></div>


      </div>

       <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Resumo em Anais de Congresso (Não Identificados)</strong></h4>
            <button type="button" class="btn btn-primary btn-block summarized_word_load_suggestion" attr="">Carregar Sugestões</button>
        </div>
         
             <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Título dos anais de congresso</th>
                  <th>Ano</th>
                  <th>Categoria</th>
                  <th>Sugestões</th>
                  <th>Aceitar</th> 
                  <th>Pont. Manual</th>
                  <th>Confirmar</th> 
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_summarized_work_not_found.each do |summarized_work| %>
               <tr>
                  <td><%= summarized_work['DADOS_BASICOS_DO_TRABALHO']["TITULO_DO_TRABALHO"] %></td>
                  <td class="summarized_work_dynamic_calculation"><%= summarized_work['DETALHAMENTO_DO_TRABALHO']["TITULO_DOS_ANAIS_OU_PROCEEDINGS"] %></td>
                  <td><%= summarized_work['DADOS_BASICOS_DO_TRABALHO']["ANO_DO_TRABALHO"] %></td>
                  <td></td>
                  <td> 
                     <select class="form-control select_qualis" id="sel1">
                         <option>Sugestão</option>
                     </select>
                  </td>
                  <td>
                     <button type="button" name = "#total_summarized_work_not_found_value" class="btn btn-primary btn-block article_no_found_total_points_suggestion" attr="">Aceitar</button>
                  </td>
                  <td align="center" >
                     <input type="text" class="form-control">
                  </td>
                  <td>
                     <button type="button" name = "#total_summarized_work_not_found_value" class="btn btn-primary btn-block  manual_calculation" attr="">Confirmar</button>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total:</strong><strong id="total_summarized_work_not_found_value"></strong></div>


      </div>
   </div>
   <div id="trab_completo_em_anais_de_cong" class="tab-pane fade in">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Trabalho Completo em Anais de Congresso (Identificados)</strong></h4>
        </div>
         
             <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Título dos anais de congresso</th>
                  <th>Categoria</th>
                  <th>País</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_completed_work_in_congress_found.each do |completed_work| %>
               <tr>
                  <td><%= completed_work['DADOS_BASICOS_DO_TRABALHO']["TITULO_DO_TRABALHO"] %></td>
                  <td><%= completed_work['DETALHAMENTO_DO_TRABALHO']["TITULO_DOS_ANAIS_OU_PROCEEDINGS"] %></td>
                  <th></th>
                  <td><%= completed_work['DADOS_BASICOS_DO_TRABALHO']["ANO_DO_TRABALHO"] %></td>
                  <td><%= completed_work['DADOS_BASICOS_DO_TRABALHO']["PAIS_DO_EVENTO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: 0</strong></div>


      </div>

       <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Trabalho Completo em Anais de Congresso (Não Identificados)</strong></h4>
            <button type="button" class="btn btn-primary btn-block completed_work_load_suggestion" attr="">Carregar Sugestões</button>
        </div>
         
             <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Título dos anais de congresso</th>
                  <th>Ano</th>
                   <th>Categoria</th>
                   <th>Sugestões</th>
                  <th>Aceitar</th> 
                  <th>Pont. Manual</th>
                  <th>Confirmar</th> 
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_completed_work_in_congress_not_found_2.each do |completed_work| %>
               <tr>
                  <td><%= completed_work['DADOS_BASICOS_DO_TRABALHO']["TITULO_DO_TRABALHO"] %></td>
                  <td class="completed_work_dynamic_calculation"><%= completed_work['DETALHAMENTO_DO_TRABALHO']["TITULO_DOS_ANAIS_OU_PROCEEDINGS"] %></td>
                  <td><%= completed_work['DADOS_BASICOS_DO_TRABALHO']["ANO_DO_TRABALHO"] %></td>
                  <td></td>
                   <td>
                     <select class="form-control select select_qualis" id="sel1">
                         <option>Sugestão</option>
                       </select>
                  </td>
                  <td>
                     <button type="button" name="#total_completed_work_not_found_value" class="btn btn-primary btn-block article_no_found_total_points_suggestion" attr="">Aceitar</button>
                  </td>
                  <td align="center" >
                     <input type="text" class="form-control">
                  </td>
                  <td>
                     <button type="button" name="#total_completed_work_not_found_value"  class="btn btn-primary btn-block manual_calculation" attr="">Confirmar</button>
                  </td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total:</strong><strong id="total_completed_work_not_found_value"></strong></div>


      </div>


   </div>
   <div id="orientacoes" class="tab-pane fade in">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Orientações Doutorado</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Nome Orientado</th>
                  <th>Instituição</th>
                  <th>Curso</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_doctor_tutoring.each do |doctor_tutoring| %>
               <tr>
                  <td><%= doctor_tutoring["DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_DOUTORADO"]["TITULO"] %></td>
                  <td><%= doctor_tutoring["DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_DOUTORADO"]["NOME_DO_ORIENTADO"] %></td>
                  <td><%= doctor_tutoring["DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_DOUTORADO"]["NOME_DA_INSTITUICAO"] %></td>
                  <td><%= doctor_tutoring["DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_DOUTORADO"]["NOME_DO_CURSO"] %></td>
                  <td><%= doctor_tutoring["DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_DOUTORADO"]["ANO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_doctor_tutoring_points %></strong></div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Orientações Mestrado</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Nome Orientado</th>
                  <th>Instituição</th>
                  <th>Curso</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_master_tutoring.each do |master_tutoring| %>
               <tr>
                  <td><%= master_tutoring["DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO"]["TITULO"] %></td>
                  <td><%= master_tutoring["DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO"]["NOME_DO_ORIENTADO"] %></td>
                  <td><%= master_tutoring["DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO"]["NOME_DA_INSTITUICAO"] %></td>
                  <td><%= master_tutoring["DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO"]["NOME_DO_CURSO"] %></td>
                  <td><%= master_tutoring["DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO"]["ANO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_master_tutoring_points %></strong></div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading text-center">
            <h4><strong>Outras Orientações Concluídas</strong></h4>
         </div>
         <table class="table table-bordered" >
            <thead>
               <tr>
                  <th>Título do Trabalho</th>
                  <th>Nome Orientado</th>
                  <th>Natureza</th>
                  <th>Instituição</th>
                  <th>Curso</th>
                  <th>Ano</th>
               </tr>
            </thead>
            <tbody>
               <% @cv_handler.get_other_tutoring.each do |other_tutoring| %>
               <tr>
                  <td><%= other_tutoring["DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS"]["TITULO"] %></td>
                  <td><%= other_tutoring["DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS"]["NOME_DO_ORIENTADO"] %></td>
                  <td><%= other_tutoring["DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS"]["NATUREZA"].gsub!('_',' ') %></td>
                  <td><%= other_tutoring["DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS"]["NOME_DA_INSTITUICAO"] %></td>
                  <td><%= other_tutoring["DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS"]["NOME_DO_CURSO"] %></td>
                  <td><%= other_tutoring["DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS"]["ANO"] %></td>
               </tr>
               <% end %>
            </tbody>
         </table>
         <div class="panel-footer"><strong>Total: <%= @cv_handler.get_other_tutoring_points %></strong></div>
      </div>
   </div>
</div>